- name: Playbook for integration and Deployment
  hosts: localhost
  become: true
  vars:
   repopath: https://github.com/Sonal0409/DevOpsCodeDemo.git
   dest_path: /tmp/projectcode
  tasks:
  - name: Clone the repo which has the code on the worker node
    git: repo={{repopath}} dest={{dest_path}}
  - name: Execute Maven Command to build the code
    command: chdir={{dest_path}} mvn package
  - name: Copy the artifact from target folder to current directory
    copy: src=/tmp/projectcode/target/addressbook.war dest=/tmp/projectcode remote_src=yes
  - name: build the dockerfile
    command: chdir={{dest_path}} docker build -t myimageansible .
  - name: Run the image and deploy app on container
    command: docker run -d -P myimageansible
